<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user', user:@user %>
      <%= render 'books/book', book:@book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-sm btn-success' %> </td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-sm btn-danger' %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>